[run]
branch = True
source = scikit_longitudinal/
omit =
    scikit_longitudinal/**/tests/*
    scikit-learn/*
    sklearn_fork/*
    ./main.py
    .venv/*
    *__init__.py
data_file = .coverage

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    def __repr__
ignore_errors = True
show_missing = True
