[tool.poetry]
name = "Scikit-longitudinal"
version = "0.0.1"
description = "Scikit-longitudinal, an open-source Python lib for longitudinal data analysis, builds on Scikit-learn's foundation. It offers specialized tools to tackle challenges of repeated measures data, ideal for researchers, data scientists, & analysts."
authors = ["Simon Provost <sgp28@kent.ac.uk>"]
readme = "README.md"
packages = [
    { include = "scikit_longitudinal" },
]

[tool.poetry.dependencies]
python = ">=3.10,<3.12"
pandas = "^1.5.3"
matplotlib = "^3.7.0"
jupyter = "^1.0.0"
overrides = "^7.3.1"
ray = "^2.3.1"
statsmodels = "^0.13.5"
numpy = "^1.21.2"
scikit-learn-tree = { path = "./scikit-learn" }

[tool.poetry.group.dev.dependencies]
pytest-cov = "^4.0.0"
sphinx = "^6.1.3"
sphinx-autobuild = "^2021.3.14"
sphinx-rtd-theme = "^1.2.0"
flake8-docstrings = "^1.7.0"
pydocstyle = "^6.3.0"
genbadge = "^1.1.0"
flake8 = "^6.0.0"
pylint = "^2.17.1"
isort = "^5.12.0"
autopep8 = "^2.0.2"
black = "^23.1.0"
pre-commit = "^3.2.0"
twine = "^4.0.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.flake8]
max-line-length = 120

[tool.black]
line-length = 120
target-version = ['py310']
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.isort]
profile = "black"
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 120
