name: ci-tests

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  check_tests_trigger:
    name: Check Tests Trigger
    runs-on: ubuntu-latest
    outputs:
      tests: ${{ steps.check_tests_trigger.outputs.tests }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - id: check_tests_trigger
        name: Run Check Tests Trigger Script
        run: bash build_tools/github/check_tests_trigger.sh

  Testing:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    needs: check_tests_trigger
    if: needs.check_tests_trigger.outputs.tests
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        os: [ubuntu-latest]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install uv & Python
        uses: astral-sh/setup-uv@v5
        with:
          version: "latest"
          enable-cache: false
          python-version: "${{ matrix.python-version }}"

      - name: Install dependencies
        run: |
          uv sync --all-groups

      - name: Run Tests
        run: |
          . .venv/bin/activate
          pytest -sv scikit_longitudinal
